<h1>Register</h1>
<%= form_with model: @employee,url:register_path do |form| %>
<div class="mb-3">
<%= form.label:first_name%>
<%= form.text_field:first_name,class:"form-control",placeholder:"Enter your first Name"%>
</div>
<div class="mb-3">
<%=form.label:last_name%>
<%= form.text_field:last_name,class:"form-control",placeholder:"Enter your last Name"%>
</div>
<div class="mb-3">
<%=form.label:company_name%>
<%= form.text_field:company_name,class:"form-control",placeholder:"Enter your Company Name"%>
</div>
<div class="mb-3">
<%= form.submit "Register",class:"btn btn-primary"%>
</div>
<%end%>